<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gtchenr.mapper.OperateMapper">
    <select id="queryOperates" resultMap="baseMap">
        select *
        from report;
    </select>

    <resultMap id="baseMap" type="OperateRecord">
        <result column="report_id" property="reportId"/>
        <result column="board_id" property="boardId"/>
        <result column="report_title" property="reportTitle"/>
        <result column="report_organizer" property="reportOrganizer"/>
        <result column="report_introduction" property="reportIntroduction"/>
        <result column="report_details" property="reportDetails"/>
        <result column="report_people" property="reportPeople"/>
        <result column="report_begin_time" property="reportBeginTime"/>
        <result column="report_end_time" property="reportEndTime"/>
        <result column="report_location" property="reportLocation"/>
        <result column="report_people_info" property="reportPeopleInfo"/>
    </resultMap>
</mapper>