<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园学术论坛首页</title>
    <link rel="stylesheet" type="text/css" href="../css/lib/icon.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3274788_tzt1v2xsvuh.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/lib/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        @import "../css/home.css";
        @import "../css/lib/total.css";
    </style>
</head>
<body id="body" onload="init()">

<div id="app">
    <head-item></head-item>
    <!--搜索框-->
    <div style="margin-top: 15px;" class="letRowCenter">
        <el-input placeholder="请输入内容" v-model="input" class="input-with-select">
            <el-select v-model="select" slot="prepend" placeholder="请选择">
                <el-option label="报告题目" value="1"></el-option>
                <el-option label="报告人" value="2"></el-option>
                <el-option label="关键字" value="3"></el-option>
                <el-option label="模糊查询" value="4"></el-option>
            </el-select>
            <el-button slot="append" icon="el-icon-search" @click="search1"></el-button>
        </el-input>
    </div>

    <div class="flex-row letRowCenter">
        <!--论坛版块-->
        <div class="notice">
            <dl>
                <dt class="notice_item letallCenter click">学术报告</dt>
                <dt class="notice_item letallCenter click">通知公告</dt>
                <dt class="notice_item letallCenter click">论坛规则</dt>
                <dt class="notice_item letallCenter click">系统公告</dt>
            </dl>
        </div>

        <!--报告列表-->
        <div class="report flex-column" id="reportList">
            <div class="letColumnCenter">
                <span class="iconfont icon-weizhi"></span>位置|学术报告-->{{borderSelected}}
            </div>
            <dl class="report-list flex-column" id="report-list">
                <report-item v-for="report in reportList" :report="report"
                             @click.native="navigateToReportDetail(report.reportId)"></report-item>
            </dl>
        </div>
    </div>
    <div class="publish click" @click="publish">
        <i class="iconfont icon-fabu" style="font-size: 40px"></i>
    </div>
</div>

<script type="module">
    import {getReports} from "../js/service/home/service.js";
    import {head1} from "../js/service/headCom1.js";
    import {
        navigateToReport,
        navigateToPublishReport,
        navigateToSearchPage,
    } from "../js/API/pageTurn.js";
    window.init = function () {
        console.log("ssshhh");
        hideThemeList();
    }
    window.showThemeList = function () {
        $(".search-theme1").show();
    }
    window.hideThemeList = function () {
        $(".search-theme1").hide();
    }
    let reportItem = {
        props: {
            report: Object,
            title: String
        },
        template: '<dt class="report-item"><span class="report-title click"><a>【学术报告】{{report.reportTitle}}</a></span><span class="report-date">{{report.publishTime}}</span></dt>'
    }


    new Vue({
        el: "#app",
        components: {
            'head-item' : head1,
            'report-item': reportItem,
        },
        data: function () {
            return {
                input: '',
                select: '1',
                reportList: Array,
                isLogin: true
            }
        },
        methods: {
            navigateToReportDetail: function (reportId) {
                navigateToReport(reportId);
            },

            publish: function () {
                navigateToPublishReport()
            },
            navigateToSearch1() {
                navigateToSearchPage();
            },
            search1() {
                if (this.input === "") {
                    alert("输入不能为空");
                    return;
                }
                console.log(this.select);
                navigateToSearchPage(this.select, encodeURI(encodeURI(this.input)));
                //
            }
        },
        mounted() {
            getReports()
                .then((res) => {
                    this.reportList = res.data;
                    for (let i = 0; i < this.reportList.length; i++) {
                        if (this.reportList[i].reportTitle === null) {
                            this.reportList.splice(i, 1);
                        }
                    }
                })
                .catch((err) => {
                    console.log(err);
                })
        },
    })
</script>
<style>
    .el-select .el-input {
        width: 130px;
    }

    .el-input {
        width: 1000px
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }
</style>
</body>
</html>
