<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
    <style lang="css">
        @import "../css/home.css";
        @import "../css/lib/total.css";
    </style>
</head>
<body>
<div id="app">
    <head-item></head-item>
    <el-container>
        <el-header height="250px" class="letallCenter">
            <div class="flex-row" style="width: 1250px; background-color: white;padding: 30px">
                <div>
                    <img src="../images/head1.png">
                </div>
                <div class="">
                    <div style="font-weight: bold;font-size: 18px;">{{userInfo.name}}</div>
                    <div class="flex-row">
                        <div style="margin-right: 15px;border-radius: 15%;margin-left: 20px; "><label
                                style="font-weight: bold">称号：</label>初入江湖
                        </div>
                        <div style="border-radius: 15%;"><label style="font-weight: bold">加入论坛</label>15<label
                                style="font-weight: bold">天</label></div>
                    </div>
                </div>
                <div style="position: relative;bottom: -100px;right: -650px;">
                    <el-button plain>编辑资料</el-button>
                    <el-button plain @click="logOut()">退出登录</el-button>
                </div>
            </div>

        </el-header>

        <el-main class="letRowCenter">
            <div style="width: 1250px; background-color: white;padding: 30px">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="1">发帖</el-menu-item>
                    <el-menu-item index="2">回复</el-menu-item>
                    <el-menu-item index="3">点赞</el-menu-item>
                    <el-menu-item index="4">消息</el-menu-item>
                </el-menu>
                <div v-if="activeIndex == 1" v-for="(item,index) in reportList">
                    <report-item :report="item"></report-item>
                </div>
                <div v-if="activeIndex == 2" v-for="(item,index) in commentList">
                    <comment-item :reportt="commentReportList[index]" :comment="item"></comment-item>
                </div>
                <div v-if="activeIndex == 3" v-for="(item,index) in reportList">
                    <report-item :report="item"></report-item>
                </div>
                <div v-if="activeIndex == 4" v-for="(item,index) in reportList">
                    <comment-item :report="item"></comment-item>
                </div>
            </div>
        </el-main>
    </el-container>
</div>
<!-- 先引入 Vue -->
<script type="text/javascript" src="../js/lib/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="module">
    import {navigateToHome, navigateToAdminLogin, navigateToLogin1, navigateToReport,navigateToPersonalHome} from "../js/API/pageTurn.js"
    import {setStorage, getStorage} from "../js/API/common.js"
    import {getCommentsByUserId, getReportById, getReportByUserId,getUserInfo} from "../js/service/service.js"
    import {head} from "../js/service/headCom.js";


    let reportItem = {
        props: {
            report: {}
        },
        methods: {
            navigateToReportDetail1(report){
                navigateToReport(report.reportId);
            }
        },
        template: '                    <div class="flex-row tiezi" style="justify-content: space-between;font-size: 13px;line-height: 30px;" @click="navigateToReportDetail1(report)">\n' +
            '                        <div>\n' +
            '                            <label style="margin-right: 15px" class="click">{{report.reportTitle}}</label>\n' +
            '                            <label style="color: silver" class="click">15点赞23回复</label>\n' +
            '                        </div>\n' +
            '                        <div style="color: silver">\n' +
            '                            <label class="click">数学</label>\n' +
            '                            <label class="click">{{report.publishTime}}</label>\n' +
            '                        </div>\n' +
            '                    </div>'
    }

    let commentItem = {
        props: {
            comment: {},
            reportt: {}
        },
        components: {
            'report-item': reportItem,
        },
        template: '                <div style="line-height: 20px;border-bottom: rgb(250,250,250); solid 1px ">\n' +
            '                    <div class="flex-row" style="line-height: 20px;margin-top: 5px;font-size: 13px">{{comment.commentDetails}}</div>\n' +
            '                    <report-item style="color:silver;font-size: 10px;.tiezi:hover{background-color: white;}" :report="reportt"></report-item>\n' +
            '                </div>'
    }
    new Vue({
        el: '#app',
        components: {
            'head-item': head,
            'report-item': reportItem,
            'comment-item': commentItem
        },
        data: function () {
            return {
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                commentList: [],
                reportList: [],
                commentReportList: [],
                activeIndex: '1',
                userInfo:{}
            }
        },
        methods: {

            handleSelect(key, keyPath) {
                console.log(key);
                this.activeIndex = key;

            },
            logOut() {
                setStorage("accessToken", "");
                setStorage("refreshToken", "");
                setStorage("userInfo", {});
                alert("返回登录界面")
                setTimeout(navigateToLogin1(), 300);
            },
            async getCommentsReport() {
                for (let i = 0; i < this.commentList.length; i++) {
                    this.getReportByReportId(this.commentList[i].reportId);
                }
            },
            getReportByReportId(reportId) {
                getReportById(reportId)
                    .then(res => {
                        this.commentReportList.push(res.data);
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            async getComments() {

                await getCommentsByUserId()
                    .then(res => {
                        this.commentList = res.data;
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        async mounted() {
            getReportByUserId()
                .then(res => {
                    this.reportList = res.data;
                })
                .catch(err => {
                    console.log(err)
                })
            await this.getComments();
            await this.getCommentsReport();
            getUserInfo({'userId':parseInt(getStorage("userId"))})
            .then(res=>{
                this.userInfo = res.data;
            })
            .catch(err=>{
                console.log(err)
            })

        }

    })
</script>
<style>

    body {
        background-color: rgb(246, 246, 246);
    }

    .el-header, .el-footer {
        /*background-color: #B3C0D1;*/
        /*color: #333;*/

        text-align: center;
        line-height: 60px;
    }


    .el-main {
        /*background-color: #E9EEF3;*/
        /*color: #333;*/
        text-align: center;
        line-height: 60px;
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .el-header img {
        border-radius: 50%;
        border: silver solid 1px;
        height: 100px;
        width: 100px;
    }

    .tiezi:hover {
        background-color: rgb(240, 240, 240);
    }
</style>
</body>
</html>