<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报告详情</title>
    <script type="text/javascript" src="../js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/lib/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/icon.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3274788_9adk7b8pp9m.css">
    <style lang="css">
        @import "../css/reportDetail.css";
        @import "../css/home.css";
        @import "../css/lib/total.css";
    </style>
    <script type="module">
        import {getReportById, getUserInfo1,getCommentsByUserId,getCommentsByReportId,publishComment,deleteReport1} from "../js/service/service.js"
        import {setSessionStorage, getSessionStorage,getStorage} from "../js/API/common.js"
        import {head} from "../js/service/headCom.js";
        import {editDialog} from "../js/service/reportDetails/editDialog.js"
        import {navigateToHome, navigateToPersonalHome} from "../js/API/pageTurn.js";

        let reportCom = {
            props: {
                report: Object,
            },
            template: ''
        };
        let commentCom = {
            props: {
                comment: {},
            },
            mounted() {
                console.log(this.comment)
            },
            template: '<div>' +
                '<div class="letColumnCenter">' +
                '<img src="../images/head1.png" style="height: 50px;width: 50px;border: silver solid 1px;border-radius: 100%"><div class="flex-column" style="margin-left: 15px"><span style="font-size: 12px;font-weight: bolder;margin-bottom: 3px">gtchenr</span><span style="font-size: 9px">{{comment.publishTime}}</span></div>' +
                '</div>' +
                '<div style="margin: 5px 0;">{{comment.commentDetails}}</div>' +
                '<div class="flex-row" style="font-size: 10px;font-weight: bolder"><div class="click"><span></span><label style="margin-right: 10px">亮了({{comment.commentCredit}})</label></div><div class="click"><span></span><label>回复</label></div></div>' +
                '</div>'
        }

        let vm = new Vue({
            el: "#app",
            components: {
                'report-item': reportCom,
                'comment-item': commentCom,
                'head-item': head,
                'edit-dialog':editDialog
            },
            data: function () {
                return {
                    report: Object,
                    commentList: [],
                    isReporter:false,
                    userId: 2,
                    textarea:'',
                    reportItem: [
                        {key: "题目", value: null},
                        {key: "报告人", value: null},
                        {key: "组织者", value: null},
                        {key: "开始时间", value: null},
                        {key: "结束时间", value: null},
                        {key: "地点", value: null}
                    ],
                    userInfo:{},
                    reportInfo:{},
                    dialogVisible : false,
                    reportId:1
                }
            },
            methods: {
                getQueryVariable: function (variable) {
                    let query = window.location.search.substring(1);
                    let vars = query.split("&");
                    for (let i = 0; i < vars.length; i++) {
                        let pair = vars[i].split("=");
                        if (pair[0] == variable) {
                            return pair[1];
                        }
                    }
                    return (false);
                },


                publishComment1(){
                    let reportId = this.getQueryVariable("reportId");
                    let data = {
                        'reportId' : reportId,
                        'commentDetails':this.textarea,
                    }
                    console.log(data)
                    publishComment(data)
                    .then(res=>{
                        alert("评论成功")
                        this.textarea = '';
                        getCommentsByReportId({'reportId':this.getQueryVariable("reportId")})
                            .then(res=>{
                                this.commentList = res.data;

                            })
                            .catch(err=>{
                                console.log(err);
                            })
                    })
                    .catch(err=>{
                        alert("评论失败")
                    })
                },
                handleEdit(){
                    this.dialogVisible = true;
                },
                handleDelete(){
                    console.log(this.getQueryVariable("reportId"))
                    let data = {
                        'reportId':this.getQueryVariable("reportId")
                    }
                    deleteReport1(data)
                    .then((res)=>{
                        alert("删除成功！跳转会主页！");
                        // navigateToHome();
                        navigateToPersonalHome()
                    })
                }
            },
            async mounted() {
                this.reportId = this.getQueryVariable("reportId");
                await getReportById(this.reportId)
                    .then((res) => {
                        this.report = res.data;
                        this.userId = res.data.userId;
                        if(this.userId === parseInt(getStorage("userId"))){
                            this.isReporter = true;
                        }else {
                            this.isReporter = false;
                        }
                        for (let i = 0; i < this.reportItem.length; i++) {
                            switch (this.reportItem[i].key) {
                                case "题目" :
                                    this.reportItem[i].value = this.report.reportTitle;
                                    break;
                                case "报告人":
                                    this.reportItem[i].value = this.report.reportPeople;
                                    break;
                                case "组织者":
                                    this.reportItem[i].value = this.report.reportOrganizer;
                                    break;
                                case "开始时间":
                                    this.reportItem[i].value = this.report.reportBeginTime;
                                    break;
                                case "结束时间":
                                    this.reportItem[i].value = this.report.reportEndTime;
                                    break;
                                case "地点":
                                    this.reportItem[i].value = this.report.reportLocation;
                                    break;
                                default :
                                    console.log("出现错误");
                                    break;
                            }
                            if (this.reportItem[i].value === null) {
                                console.log(this.reportItem[i].value);
                                this.reportItem[i].value = "无";
                            }
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    })
                await getUserInfo1({'userId': this.userId})
                    .then(res => {
                        this.userInfo = res.data;
                    })
                    .catch(err => {
                        console.log(err)
                    })
                await getCommentsByReportId({'reportId':this.getQueryVariable("reportId")})
                .then(res=>{
                    this.commentList = res.data;

                })
                .catch(err=>{
                    console.log(err);
                })
            }
        })
    </script>
</head>
<body>
<div id="app">
    <head-item></head-item>
    <div id="report">
        <div style="margin: 30px 0;" class="flex-row">
            <img src="../images/head1.png" style="width: 60px;height: 60px;border-radius: 50%;border: silver solid 1px">
            <div class="flex-column letRowCenter" style="height: 60px;margin-left: 20px">
                <div style="margin: 5px 0;font-size: 15px;font-weight: bolder">{{userInfo.name}}</div>
                <div>{{report.publishTime}}</div>
            </div>
        </div>
        <div class="report-xi" v-for="item in reportItem"><label style="font-weight: bold">{{item.key}}：</label><label>{{item.value}}</label>
        </div>
        <div class="report-detail">
            <div>报告摘要</div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{report.reportDetails}}</div>
        </div>
        <div class="report-reporter">
            <div>报告人简介</div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{report.reportPeopleInfo}}</div>
        </div>
        <div style="float: right;margin-top: 20px">
            <el-button @click="handleEdit()" v-if="isReporter">编辑</el-button>
            <el-button @click="handleDelete()" v-if="isReporter">删除</el-button>
            <el-button @click="handleCollect()">收藏</el-button>
        </div>
        <div class="comments">
            <div class="comments-title">评论区</div>
            <div class="comment-list">
                <div v-for="item in commentList" style="padding: 10px 0;border-bottom: silver solid 1px" >
                    <comment-item class="comment-item" :comment="item" ></comment-item>
                </div>
                <div style="margin-top: 20px">已展示所有评论~~</div>
            </div>
            <div class="comments-public">
                <div class="letColumnCenter" style="font-size: 13px">
                    <label>我的评论</label>
                    <div>

                    </div>
                </div>
                <el-input
                        type="textarea"
                        :autosize="{ minRows: 2, maxRows: 4}"
                        placeholder="请输入内容"
                        v-model="textarea">
                </el-input>
                <div class="comment-button">
                    <button @click="publishComment1">发布</button>
                </div>
            </div>
        </div>
    </div>
    <edit-dialog :dialogvisible1="dialogVisible" :reportt="reportId"></edit-dialog>
</div>

</body>

</html>